/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Z-INDEXES
* LOADING: 10
* ERROR AND SUCCESS: 20
*/

input {
  @apply border w-full p-1 text-lg rounded border-gray-400;
}

.span-input-validation {
  @apply text-red-600 text-sm;
}

button {
  @apply transition delay-200 w-full p-3 bg-gray-900 rounded text-white font-bold text-center hover:bg-gray-700;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

/* LOADER DESIGN ANIMATION STARTS HERE */
.loading-container {
  @apply fixed h-screen w-screen flex flex-col justify-center items-center z-10;
  backdrop-filter: blur(6px);
}
.lds-circle {
  @apply inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  @apply bg-green-600 inline-block rounded-full;
  width: 64px;
  height: 64px;
  margin: 8px;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* SUCCESS/ERROR RESPONSE ANIMATION STARTS HERE*/
.succ-err-res {
  animation: succ-err-res 1s;
}
@keyframes succ-err-res {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
